<h1 class="m-2">Profesores Registrados  :</h1>
<div class="content">
  <mat-card class="m-2">
    <mat-card-title>
     <button mat-raised-button color="primary" (click)="nuevoProfesor()" class="m-2">
     <mat-icon mat-list-icon>add</mat-icon>Nuevo
    </button> 
    </mat-card-title>
    <mat-divider></mat-divider>

    <mat-card-content class="mt-2">

      <mat-form-field style="width: 100%;;">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="aplicarFiltroListado($event)" placeholder="Filtro" #input>
      </mat-form-field>

    <mat-card-content class="mt-2" style="overflow-x: auto;">

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
          
              
              <ng-container matColumnDef="profesorNombres">
                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                <td mat-cell *matCellDef="let element"> {{element.profesorNombres}} </td>
              </ng-container>
              <ng-container matColumnDef="profesorApellidos">
                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                <td mat-cell *matCellDef="let element"> {{element.profesorApellidos}} </td>
              </ng-container>
              <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef> Cedula </th>
                <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
              </ng-container>
              <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef> Direccion </th>
                <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
              </ng-container>
              <ng-container matColumnDef="telefono">
                <th mat-header-cell *matHeaderCellDef> Telefono </th>
                <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
              </ng-container>
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
              <ng-container matColumnDef="genero">
                <th mat-header-cell *matHeaderCellDef> Genero </th>
                <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
              </ng-container>
              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estado}}</td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button color="primary" (click)="editarProfesor(element)">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="warn" (click)="removerProfesor(element)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>


            
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos que coincidan con el filtro "{{input.value}}"</td>
              </tr>
    
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                           showFirstLastButtons
                           aria-label="Seleccione Carreras">
            </mat-paginator>
          </div>   

    </mat-card-content>


  
