



<div class="w-3container">
<h2 style="position: absolute; left:10px">Catálogo de Solicitudes: </h2>

<div class="card border-light-subtle shadow-sm">       
<button type="button" style="width: 250px; height: 150px; position: absolute; left: 430px; top: 150px;" class="btn btn-outline-success">Realizar Solicitud</button> 
<button type="button" style="width: 250px; height: 150px; position: absolute; left: 700px; top: 150px;" class="btn btn-outline-success">Mis Solicitudes</button>
<button type="button" style="width: 250px; height: 150px; position: absolute; left: 970px; top: 150px;" class="btn btn-outline-success">Gestión de Solicitudes</button>
</div>